@import './varables';

.profile__page{
  width: 100%;
  margin: 0;
  // display: flex;
  justify-content: center;
  display: block;
}

.user__profile__info {
  margin: 0 230px 0 230px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px var(--darkgrey);
}

.user__media__info {
  margin: 58px 0px 0px 220px;
  display: block;
}

.user__cover {
  padding-top: 5px;
}

.user__cover img {
  width: 975px;
  height: 315px;
  border: 1px solid rgb(4, 175, 187);
  object-fit: cover;
  border-radius: 5px;
}

.user__cover img:hover {
  width: 975px;
  height: 315px;
  object-fit: cover;
  padding: 3px;
  border-radius: 5px;
  background: var(--primary);
}

.user__profile {
  position: absolute;
  top: 165px;
  margin-left: 430px;
}

.user__profile img {
  width: 145px;
  height: 150px;
  object-fit: cover;
  border: 1px solid rgb(4, 175, 187);
  padding: 3px;
  border-radius: 50%;
  background: #f1f3f6;
}

.user__profile img:hover {
  width: 145px;
  height: 150px;
  object-fit: cover;
  padding: 3px;
  border-radius: 50%;
  background: var(--primary);
}

.user__name {
    position: absolute;
    top: 330px;
    margin-left: 665px;
    background: var(--primary) !important;
    border-radius: 7px;
    // opacity: 50%;
}

.user__name h2 {
  color: #ffffff;
  font-size: 18px;
  padding: 3px;
}


.user__name__fullname {
    position: absolute;
    top: 330px;
    margin-left: 635px;
    background: var(--primary) !important;
    border-radius: 7px;
}

.user__name__fullname h2 {
  color: #ffffff;
  font-size: 18px;
  padding: 3px;
}



.user__name .user__name__auth {
  color: #ffffff;
  font-size: 18px;
  padding: 3px;
  // margin-left: 15px;
}

.navigation__tabs {
  margin: 2px 230px 2px 230px;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0px 2px 5px var(--darkgrey);
}

.navigation__tabs h1 {
  margin-left: 675px;
}

.user__activity__list {
  width: 317px;
  margin-left: 2px;
  border-radius: 5px;
  // overflow: hidden;
  position: sticky;
}

.user__activity__item {
  background: var(--white);
  margin: 7px 0 0 2px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px var(--darkgrey);
}


.user__activity__list h2 {
  font-size: 16px;
  padding: 5px;
  font-weight: 300;
  color: var(--primary);
  background: var(--white);
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px var(--darkgrey);
}

.user__activity__item li {
  padding: 10px 9px 5px 12px;
}


.user__activity__item a {
  margin: 0 10px 0 10px;
  font-size: 16px;
  color: rgb(95, 97, 97);
  font-weight: 200;
  i {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(4, 175, 187);
  }
}


.user__scream__post {
  display: flex;
  flex-direction: row;
  margin-left:228px;
  position: absolute;
}

.user__scream__list {
  overflow: hidden;
  display: block;
  position: relative;
  border-radius: 5px;
  margin: 2px 14px 0 20px;
}

.user__scream__item {
  background: var(--white);
  margin: 0px 12px 0px 0;
}

.user__profile__scream__media img {
  width: 765px;
  height: 815px;
  object-fit: cover;
  border-radius: 5px;
}

.user__more__actions {
  width: 317px;
}



.user__base__information__item {
  background: var(--white);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0px 2px 5px var(--darkgrey);
}

.user__base__information__item li {
  padding: 0px 0px 20px 0px;
}

.user__base__information__item a {
  font-size: 16px;
  color: rgb(95, 97, 97);
  font-weight: 200;
  i {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(4, 175, 187);
  }
}

.user__subscriber__action__item {
  background: var(--white);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  box-shadow: 0px 2px 5px var(--darkgrey);
}

.user__subscriber__action__item li {
  padding: 0px 0px 15px 0px;
}

.user__subscriber__action__item a {
  font-size: 16px;
  color: rgb(95, 97, 97);
  font-weight: 200;
  i {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(4, 175, 187);
  }
}

.user__friends__list__item {
  background: var(--white);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  box-shadow: 0px 2px 5px var(--darkgrey);
}

.user__friends__list__item li {
  padding: 0px 0px 20px 0px;
}

.user__friends__list__item a {
  font-size: 16px;
  color: rgb(95, 97, 97);
  font-weight: 200;
  i {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(4, 175, 187);
  }
}